.tooltip {
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #616161 e6
  color: #fff;
  border-radius: 4px;
  vertical-align middle
  text-align center
  padding: 5px 12px 7px;
  font-size 13px;
  font-weight 600
}

.tooltip[x-placement^="top"] {
  margin-bottom: 8px;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 8px;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip.popover .popover-inner {
  background: #fff;
  color: black;
  padding: 12px 18px;
  font-size 15px;
  display flex
  flex-direction column
  font-weight 400
  border-radius: 5px;
  box-shadow: 0 6px 16px -4px #444a;

  .popover__group {
    margin-top: 15px
  }

  button {
    text-transform uppercase
    letter-spacing 1px
    border-radius 4px
    padding: 4px 10px
    font-weight 600
    background #666
    cursor pointer
    color: white
    border 0
  }
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  transition opacity 0.4s ease-in
  opacity: 0;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  transition opacity 0.4s ease-out
  opacity: 1;
}
