.tooltip {
  z-index: 10000;
}

span.trigger:focus {
  outline: none;
}

.tooltip .tooltip-inner {
  background: rgb(91, 91, 91)
  color: #fff;
  border-radius: 4px;
  vertical-align middle
  text-align center
  padding: 5px 12px 7px;
  font-size 13px;
  font-weight 600
}

.tooltip[x-placement^="top"] {
  margin-bottom: 8px;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 8px;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.v-drowdown__default {
  .popover-inner {
    box-shadow: 0 6px 22px -4px #444c;
    flex-direction column
    padding: 12px 18px;
    border-radius: 5px;
    background: #fff;
    font-size 16px;
    color: black;
    display flex
    roboto();

    .popover__group {
      margin-top: 15px

      button:last-child {
        margin-left: 10px
      }
    }

    button {
      text-transform uppercase
      transition transform 0.1s
      letter-spacing 1px
      border-radius 4px
      padding: 4px 10px
      font-weight 600
      background #666
      cursor pointer
      color: white
      border 0

      &:hover {
        background #888
      }

      &:active {
        transform scale(0.875)
      }
    }
  }
}

.v-drowdown__templates {
  border-left: border
  border-bottom: border
  left: -100px !important
  top: -6px !important

  .popover-inner {
    flex-direction column
    padding: 0 0;
    border-radius: 5px;
    background: #fff;
    font-size 16px;
    color: black;
    display flex
    roboto();
    min-width: 280px
    overflow hidden
    .menu__item{
      height: 32px
    }
    .menu__item:not(:last-child){
      border-bottom: border
    }
  }
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  transition opacity 250ms cubic-bezier(0.23, 1, 0.32, 1)
  opacity: 0;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  transition opacity 250ms cubic-bezier(0.23, 1, 0.32, 1)
  opacity: 1;
}
