.tooltip {
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: #616161e6
  color: #fff;
  border-radius: 4px;
  vertical-align middle
  text-align center
  padding: 5px 12px 7px;
  font-size 13px;
  font-weight 600
}

.tooltip[x-placement^="top"] {
  margin-bottom: 8px;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 8px;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 24px;
  border-radius: 5px;
  box-shadow: 0 5px 30px rgba(black, .1);
}

.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  transition opacity 0.4s ease-in
  opacity: 0;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  transition opacity 0.4s ease-out
  opacity: 1;
}
