*, *::before, *::after {
  box-sizing border-box
}

border = 1px solid #c5c5c5;
color = #555

body, html {
  font-family: "Roboto", sans-serif
  background #fff;
  color: color;
  margin: 0
  padding: 0
}

@import url('https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css');
@import "./components/*"
